extends _layout

block content
  include _navbar
  div.container
    div.row
      div.col-md-9
        h1 Login
      div.col-md-3
        a(href='/register') Register
        br
        a(href='/settings') Settings